{% extends 'frontend/layout.html' %}
{% block title %}
forgot password
{% endblock %}
{% block body %}
<form action="{{url_for('forgotpassword_submit')}}" method="post">
	<label>Email</label>
	{% set email = "" %}
	{% if request.args.get("Email") != None %}
		{% set email = request.args.get("Email") %}
	{% endif %}
	<input type="text" name="Email" value="{{Email}}"/><br>
	{% if request.args.get("email")!= None %}
		<input type="hidden" name="otp" value="{{request.args.get('ref')}}"/><br>
		<label>new Password</label>
		<input type="password" name="Password"/>
	{% endif %}
	<button type="Submit">Submit</button>
</form>
{% endblock %}


